@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 14px;
}
body{
    font-family: 'Roboto', sans-serif;
}
#container{
    max-width: 1200px;
    margin: 0 auto;
}
#header, #content{
    padding: 30px 0;
}
#footer{
    background: orange;
    padding: 5px 0 ;
}
#content .news{
     max-width: 49.999%;
     float: left;
     text-align: justify;
     line-height: 1.5;
     font-size: .8rem;
}
#content .news:first-child{
    padding-right:  10px;
}
#content .news:nth-child(2){
    padding-right: 10px;
}
#content::after,#nav ul::after{
    content: "";
    clear: both;
    display: table;
}
#nav ul{
    list-style-type: none;
}
#nav ul li{
    width: 19.9999%;
    float:left;
    text-align: center;
    border-right: 1px dotted black;
}
#nav ul li:last-child{
    border-right: none;
}
#nav ul li a{
    background: orange;
    padding: 20px;
    width: 100%;
    display: block;
    text-decoration: none;
    color: black;

}
#nav ul li a:hover{
    background: black;
    color: white;
    text-decoration: underline;
}
